<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
</head>

<body>

<div th:fragment="users">
    <div class="panel-default well" th:each="user : ${users}">
        <div class="panel-heading">
            <h1 th:text="${user.name}+${user.lastName}"></h1>
        </div>
        <div class="row panel-footer">
            <div th:inline="text" class="col-md-2">User Name: [[${user.username}]]</div>
            <div th:inline="text" class="col-md-9">Email: [[${user.email}]]</div>
            <a th:href="@{'manageUsers/delete/' + ${user.getId()}}" >
                <button type="button" class="btn btn-primary" th:text="Delete">Delete</button>
            </a>
        </div>
        <br></br>
    </div>
</div>

</body>
</html>